h3 {
    overflow: hidden;
    color: #2766C0;
    text-overflow: ellipsis;
    font-family: Anton;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.375rem; /* 112.5% */
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    span{
        color: #5DA4FF;
    }

    @include breakpoint-down(medium){
        font-size: 1.875rem;
        font-weight: 400;
    }

    @include breakpoint-down(small){
        font-size: 1.5rem;
    }
}

.community__content {
    width: 31.6875rem;
    color: var(--Text-1, #333);
    text-align: center;
    font-family: Overpass;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3rem;

    @include breakpoint-down(medium){
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 1.125rem; 
        width: 25.88956rem;
        
    }

    @include breakpoint-down(small){
        font-size: 0.5rem;
        font-weight: 600;
        line-height: 0.75rem;
        width: 16.5rem;
    }
}

.community{
    position: relative;
    height: 44rem;
    width: 100%;

    @include breakpoint-down(medium){
        width: 100%;
        height: 35.4375rem;
    }

    @include breakpoint-down(small){
        width: 100%;
        height: 24.4375rem;
        overflow-x: hidden;
    }

    &__carousel {
        position: relative;
        width: 73.125rem;
        height: 26rem;
        border-radius: 1rem;
        margin: auto;
        @include breakpoint-down(medium){
            width: 41.30863rem;
            height: 14.6875rem;
        }
    
        @include breakpoint-down(small){
            width: 17.57813rem;
            height: 6.25rem;
        }
    }

    &__slide {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 73.125rem;
        height: 26rem;
        border-radius: 1rem;
        background-image: url('images/community.png');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: $lightBlue;
        background-blend-mode: multiply;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        position: absolute;
        inset: 0;
        opacity: 0;
        @include breakpoint-down(medium){
            width: 41.30863rem;
            height: 14.6875rem;
        }
    
        @include breakpoint-down(small){
            width: 17.57813rem;
            height: 6.25rem;
        }
    }

    

    &__slide[data-active] {
        opacity: 1;
    }

    img{
        background-color: $lightBlue;
        background-blend-mode: multiply;
        width: 60%;
        margin-left: 50%;
        transform: translateX(-50%);
        
    }

    &__but-cont{
        margin-left: 50%;
        transform: translateX(-50%);
        width: 8.5rem;
        height: 4rem;
        top: 25rem;
        position: relative;

        @include breakpoint-down(medium){
            width: 4.5rem;
            top: 15rem;
        }
    
        @include breakpoint-down(small){
            width: 2.5rem;
            top: 8rem;
        }
        
    }

    &__button{
        
        background-color: $lightWhite;
        width: 4rem;
        height: 4rem;
        color: #99999980;
        border: solid#99999980;
        border-radius: 3rem;
        margin-top: 50%;
        font-size: 2rem;
        transition: color 200ms ease-in-out;
        &:hover{
            background-color: $darkOrange;
            color: $lightWhite;
            border: none;
        }

        @include breakpoint-down(medium){
            width: 2rem;
            height: 2rem;
            font-size: 1rem;
            background-color: $darkOrange;
            color: $lightWhite;
            border: none
        }
    
        @include breakpoint-down(small){
            width: 1rem;
            height: 1rem;
            font-size: 0.5rem;
            line-height: 0.5rem;
            background-color: $darkOrange;
            color: $lightWhite;
            border: none;
        }
    }
}






