.schedule {
    border-radius: 1.0625rem;
    background: url('images/Calendar\ 1.png') lightgray -1.177px -133px / 100.198% 191.106% no-repeat;
    background-color: $darkOrange;
    background-blend-mode: soft-light;
    width: 74.375rem;
    height: 26rem;
    margin-left: 50%;
    transform: translateX(-50%);
    bottom: 31rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    position: absolute;
    

    
    @include breakpoint-down(medium){
        background: url('images/Calendar\ 1.png') lightgray -0.447px -50.486px / 100.198% 191.106% no-repeat;
        background-color: $darkOrange;
        background-blend-mode: soft-light;
        width: 28.23213rem;
        height: 9.86938rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
        bottom: 15rem;
    }

    @include breakpoint-down(small){
        background: url('images/Calendar\ 1.png') lightgray -0.194px -21.901px / 100.198% 191.106% no-repeat;
        background-color: $darkOrange;
        background-blend-mode: soft-light;
        width: 12.24706rem;
        height: 4.28131rem;
        padding-top: .2rem;
        padding-bottom: .3rem;
        bottom: 5rem;
        line-height: 0.3rem;
    }

    
    &__text{
        width: 44.99294rem;
        color: #2766C0;
        font-family: Anton;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0;
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);

        @include breakpoint-down(medium){
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            width: 17.07894rem;
            height: 1.70819rem;
        }
    
        @include breakpoint-down(small){
            width: 7.40881rem;
            height: 0.941rem;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &__tab {
        text-align: center;
        width: auto;
    }


    &__inputs {
        width: 42.83231rem;
        height: 4.25rem;
        border-radius: 0.625rem;
        background  : var(--white, #FFF);
        color: var(--Text-2, #D9D9D9);
        font-family: Overpass;
        font-size: 0.3125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--Text-2, #D9D9D9);
        font-family: Overpass;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
        


        @include breakpoint-down(medium){
            width: 16.25881rem;
            height: 1.61325rem;
            margin-left: auto;
            color: var(--Text-2, #D9D9D9);
            font-family: Overpass;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    
        @include breakpoint-down(small){
            width: 7.05306rem;
            height: 0.69981rem;
            color: var(--Text-2, #D9D9D9);
            font-family: Overpass;
            font-size: 0.3125rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            
        }
    }

    &__button {
        color: #FFF;
        font-family: Overpass;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: $darkOrange;
        transition: scale 100ms ease-in-out;
        &:hover{
            font-weight: 800;
        }

        @include breakpoint-down(medium){
            font-size: 0.375rem;
            width: 5rem;
            height: 1.41325rem;
        }
    
        @include breakpoint-down(small){
            font-size: 0.375rem;
            width: 1.13813rem;
            height: 0.514rem;
        }
    }
}