//Colors
//Primary
$darkBlue: #2766C0;
$lightOrange: #FED516;

//Secondary
$darkOrange: #FF8835;
$lightBlue: #5DA4FF;
$white: #F0F1B7;

//Text
$black: #333333;
$grey: #D9D9D9;

//Background
$lightWhite: #FEFCFB;

//Font Size
$font-sm: 1rem; //16px
$font-med: 1.5rem; //24px
$font-but: 1.125rem; //20px for buttons
